@{
    ViewData["Title"] = "Home";
}

<header class="bg-dark py-5 backgroundgg">
    <div class="container " style="width: 100%" >
        
        <div class="row gx-5 justify-content-start" >
            
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Presenting a whole way to hire musical instruments.</h1>
                    <p class="lead text-white mb-4">
                        Musical Instrument Hire is the easy way to start playing for only a small monthly amount instead of the costly outlay in purchasing an instrument outright. We always make sure our hire prices are competitive and every instrument is fully stripped, cleaned, rebuilt, and serviced before leaving us.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-info btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Music</h2>
                <p>Music is generally defined as the art of arranging sound to create some combination of form, harmony, melody, rhythm, or otherwise expressive content. Definitions of music vary depending on culture, though it is an aspect of all human societies and a cultural universal. </p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Learn Music
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Instruments</h2>
                <p>A musical instrument is a device created or adapted to make musical sounds. In principle, any object that produces sound can be considered a musical instrument—it is through purpose that the object becomes a musical instrument. A person who plays a musical instrument is known as an instrumentalist.</p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Hire Instruments
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Music Community</h2>
                <p>Not only is the process quick and easy, the instruments are from world renowned manufacturers and are professionally set up by our experienced technicians.</p>
                <a class="text-decoration-none btn btn-outline-info" href="#!">
                    Join Community
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>